.loginPage {
    padding: 15px 50px;
}

.loginPage--link {
    font-size: 18px;
    color: black;
    padding: 10px 0;
    margin: 10px 0;
}

.loginPage--link:hover {
    color: red;
}

.loginPage--input {
    margin: 0 auto 10px;
    /*width: 90%;*/
    padding: 3px 10px;
    font-size: 18px;
    color: #7a839c;
    border-radius: 5px;
    border: 2px solid rgba(243, 200, 120, 0.5);
    text-align: center;
}

.loginPage--label {
    font-size: 20px;
    font-weight: 700;
}


.book--name,
.book--autor {
    color: black;
}

.book--form {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.book--label {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.book--input {
    margin: 0 auto 10px;
    max-width: 700px;
    width: 100%;
    padding: 3px 10px;
    font-size: 18px;
    color: #7a839c;
    border-radius: 5px;
    border: 2px solid rgba(243, 200, 120, 0.5);
    text-align: center;
}

.book--input-text {
    resize: none;
    height: 300px;
    text-align: left;
}

.book--input:focus {
    color: black;
}

.book--btn {
    display: block;
    width: 500px;
    margin: 0;
}

.book--btn:focus {
    outline: 3px solid #4d90fe;
}

.onebook {
    padding: 15px 50px;
    position: relative;
    font-size: 20px;
}

.onebook--delete {
    position: absolute;
    color: black;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.onebook--price {
    margin-bottom: 10px;
}

.onebook--price span {
    font-weight: 700;
}

.onebook--delete:hover {
    color: red;
}

.onebook img {
    float: left;
    margin-right: 10px;
}

.btn-position_onebook {
    display: block;
    margin: 30px 0;
    width: 200px;
}

.cl-finx {
    clear: both;
}