<div class="autorization js-aut">
    {% if user == 'anonimus' %}
        <form action="?action=autorization" method="POST" autocomplete="off">
            <label class="autorization--label" for="name">Логин</label>
            <input class="autorization--input" id="name" type="text" name="name"/>
            <label class="autorization--label" for="pass">Пароль</label>
            <input class="autorization--input" id="pass" type="password" name="pass"/>
            <div class="autorization--login">
                <button class="login_btn login_btn-in" name="action" value="login">Войти</button>
            </div>
            <button class="login_btn login_btn-reg" name="action" value="reg">Зарегистрироваться</button>
        </form>
        <div class="line"></div>
    {% else %}
        <form action="" method="GET" class="autorization--login">
            <input type="hidden" name="action" value="logout">
            <button class="login_btn login_btn-out" value="logout">Выйти</button>
        </form>
    {% endif %}

</div>