{% extends 'index.twig' %}
{% block sidebar %}
    {% include 'sidebar.twig' %}
{% endblock %}

{% block login %}
    {% include 'autorization.twig' %}
{% endblock %}

{% block main %}
    <div class="main">
        <header class="main--header">
            <h1 class="main--caption">Доступные книги</h1>
            <div class="filter_book js-filter"><a class="filter_book--item active" href="#">Все книги</a><a class="filter_book--item" href="#">Самые популярные</a><a class="filter_book--item" href="#">Последние</a></div>
        </header>
        <div class="books">
            <div class="book"><img class="book--image" src="img/book-cover1.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smith</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover3.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smith</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover4.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smit</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover2.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smith</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover1.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smith</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover3.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smith</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover4.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smit</p>
            </div>
            <div class="book"><img class="book--image" src="img/book-cover2.jpg"/>
                <h4 class="book--name">О еде</h4>
                <p class="book--autor">by John Smith</p>
            </div>
        </div><a class="main--more" href="#" style="color:black">Больше</a>
    </div>
{% endblock %}