{% extends 'index.twig' %}
{% block sidebar %}
    {% include 'sidebar.twig' %}
{% endblock %}

{% block login %}
    {% include 'autorization.twig' %}
{% endblock %}

{% block main %}
    <div class="main">
        <header class="main--header">
            <h1 class="main--caption">Ваша корзина</h1>
        </header>
        <div class="basket">
            <div class="b_table">
                <div class="b_table--item b_table--item-bolt">
                    <div class="b_table--name">Название</div>
                    <div class="b_table--amount">
                        <p>Количество</p>
                    </div>
                    <div class="b_table--price">Стоимость</div>
                    <div class="b_table--delete">
                        Удалить
                    </div>
                </div>
                {% for key in products %}
                    <div class="b_table--item">
                        <div class="b_table--name">{{ key.name }}</div>
                        <div class="b_table--amount">
                            <div class="b_table--amount-btn js-basket-plus">
                                <a href="" class="b_table--link"> <i class="fas fa-plus-circle"></i></a>
                            </div>
                            <p>{{ key.amount }}</p>
                            <div class="b_table--amount-btn js-basket-minus">
                                <a href="" class="b_table--link"><i class="fas fa-minus-circle"></i></a>
                            </div>
                        </div>
                        <div class="b_table--price">{{ key.summ }}</div>
                        <div class="b_table--delete">
                            <a href="" class="b_table--link"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                {% endfor %}
                Lorem ipsum dolor sit amet.
            </div>
        </div>
    </div>
{% endblock %}

