<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/main.css"/>
    <!-- endbuild-->
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header class="top_side top_side-position">
            <div class="top_side--bar">
                <a class="top_side--logo" href="{{ base_url }}"><i class="fas fa-book"></i>&nbsp;Booker</a>
                <div class="top_side--support">
                    <a class="top_side--link" href="#"> <span> &#183;</span>Центр помощи</a>
                </div>
            </div>
            <div class="top--login js-account">
                {% if user != 'anonimus' %}
                    <img class="top--img" src="img/avatar_top.jpg" alt="avatar"/>
                {% endif %}
                <div class="top--login_text">{{ user }}</div>
                <span class="top--open js-account--open"><i class="fas fa-chevron-circle-down"></i></span>
                <span class="top--close js-account--close"><i class="fas fa-chevron-circle-up"></i></span>
            </div>
        </header>
        {% block login %}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}

        {% block main %}
        {% endblock %}


    </div>
    <!-- build:js js/vendor.js-->
    <!-- bower:js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- endbower-->
    <!-- endbuild-->
    <!-- build:js js/main.js-->
    <script src="js/main.js"></script>
    <!-- endbuild-->
</body>
</html>